<div *ngIf="dataSource;">
  <mat-form-field>
      <mat-label>Filter by issue count</mat-label>
      <mat-select [formControl]="toppings" multiple (openedChange)="getFilterData($event)">
          <mat-select-trigger>
              {{toppings.value ? toppings.value[0] : ''}}
              <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
        (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
      </span>
          </mat-select-trigger>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">

      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="Firstname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Firstname"> Firstname </th>
          <td mat-cell *matCellDef="let element"> {{element.Firstname}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Surname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Surname"> Surname </th>
          <td mat-cell *matCellDef="let element"> {{element.Surname}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Issuecount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Issuecount"> Issuecount </th>
          <td mat-cell *matCellDef="let element"> {{element.Issuecount}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Dateofbirth">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Dateofbirth"> Dateofbirth </th>
          <td mat-cell *matCellDef="let element"> {{element.Dateofbirth}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
  </mat-paginator>
</div>

<div *ngIf="!dataSource;" class="noData"> No Data </div>