table {
  width: 100%;
  margin: 0 auto;
  th {
      background:#3f51b5;
      color: #ffffff;
 }
}
.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
mat-paginator{
  margin-top: 18px;
}
.noData {
  text-align: center;
  margin: 70px;
}
