<div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (FileDropped)="uploadFile($event)">
  <input hidden type="file" #fileInput (change)="uploadFile($event.target)">
</div>

<mat-chip-list aria-label="CSV Selection" *ngIf="fileDetail">
  <mat-chip>Uploaded File</mat-chip>
  <mat-chip color="primary" selected>Name : {{ fileDetail.name }}</mat-chip>
</mat-chip-list>