.uploadfilecontainer {
    background-image: url("../../assets/cloud-2044823_960_720.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 130px;
    width: 51%;
    margin: 20px auto;
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
}
.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec;
    opacity: 0.8;
}
