<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span class="footer"><img _ngcontent-odm-c51="" src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg" style="width: 50px;height: 50px;" alt="angular" class="docs-angular-logo"> Angular 9, Angular Material 9, TypeScript, ES6, javaScript, Csv File Reader</span>
      <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>